$blue-dark: #242f51;
$orange: #fcae61;
$blue-light: #2500f9;
$gray: #616368;
$pink: #f55767;
$blue-lighter: #2563ff;
$green: #40975f;
$gray-light: #f5f7fa;
$gray-dark: #e2eaed;
$orange-light: #feaa25;
