// Varriable and default style
@import "./varriable";
@import "./reset";

// Custom scrollbar
// body::-webkit-scrollbar-track {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: #f5f5f5;
// }

// body::-webkit-scrollbar {
//   width: 10px;
//   background-color: #f5f5f5;
// }

// body::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   background-color: $blue-dark;
// }

// +++ Conver PX to Rem +++
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  padding-top: 9rem;
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: $blue-dark;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.btn {
  padding: 2rem 4rem;
  background-color: $blue-light;
  color: $gray-light;
  font-weight: 700;
  border-radius: 50px;
  word-spacing: 1px;
  transition: all 250ms linear;
  display: inline-block;
  user-select: none;
  &:hover {
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  }
}
.btn-transparent {
  background-color: transparent;
}

// Layout
// ****** Header ******
@import "./header";
// ****** Partner ******
@import "./partner";
// ****** Feature ******
@import "./feature";
// ****** FAQ ******
@import "./faq";
// ****** Main Feature ******
@import "./main-feature";
// ****** Subscription ******
@import "./subs";
// ****** Reviewer ******
@import "./reviewer";
// ****** Ask ******
@import "./ask";
// ****** Download ******
@import "./download";
// ****** Footer ******
@import "./footer";
